<!--The content below is only a placeholder and can be replaced.-->
<div class="maincontent">
  <div style="text-align:center">
    <h1>
      Welcome to the Angular Interview Test!
    </h1>
  </div>
  <h3>
    Steps to complete:
  </h3>
  <ul>
    <li>Retrieve the list of soccer players from the 'InmemoryService'</li>
    <li>Display those results in a table</li>
    <li>Add buttons above the table for each position that will filter the table by position</li>
  </ul>
  <hr />
  <!-- Table and buttons should be placed below -->
</div>