<!--The content below is only a placeholder and can be replaced.-->
<div class="maincontent">
  <div style="text-align:center">
    <h1>
      Welcome to the Angular Interview Test!
    </h1>
  </div>
  <h3>
    Steps to complete:
  </h3>
  <ul>
    <li>Create a function in the 'InmemoryService' that will return an Observable of type any[]. The array should list an array
      of objects representing the players already defined in the service. There should be a delay of at least 500 ms (simulating
      a network call) before the results are returned from the Observable.
    </li>
    <li>Create a separate Angular component that will take the player data as an input and display the results in a table with
      the following columns (Name, Position, Jersey Number, and Nationality).</li>
  </ul>
  <hr />
  <!-- Table and buttons should be placed below -->
</div>