<!--The content below is only a placeholder and can be replaced.-->
<div class="maincontent">
  <div style="text-align:center">
    <h1>
      Welcome to the Angular Interview Test!
    </h1>
  </div>
  <h3>
    Steps to complete:
  </h3>
  <ul>
    <li>Retrieve the list of soccer players from the 'InmemoryService'</li>
    <li>Display those results in a table</li>
    <li>Add buttons above the table for each position that will filter the table by position</li>
  </ul>
  <hr />
  <!-- Table and buttons should be placed below -->
  <table class="table table-bordered table-striped">
    <thead>      
      <button (click)="reset()">RESET LIST</button>  
      <tr *ngFor="let x of postions | unique">
        <button (click)="filter(x.position)">
          {{x.position}}
        </button>        
      </tr>
      <tr>
        <th>
          Name
        </th>
        <th>
          Position
        </th>
        <th>
          Jersey Number
        </th>
        <th>
          Date Of Birth
        </th>
        <th>
          Nationality
        </th>
        <th>
          Contract Until
        </th>
        <th>
          Market Value
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of players">
        <td>{{x.name}}</td>
        <td>{{x.position}}</td>
        <td>{{x.jerseyNumber}}</td>
        <td>{{x.dateOfBirth}}</td>
        <td>{{x.nationality}}</td>
        <td>{{x.contractUntil}}</td>
        <td>{{x.marketValue}}</td>
      </tr>
    </tbody>
  </table>
</div>